services:
  - type: web
    name: FLEETGUARD-API
    env: node
    plan: free
    region: oregon
    buildCommand: npm install && npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: WS_API_KEY
        value: BDO_SECURE_NODE_99122
      - key: JWT_SECRET
        sync: false
      - key: SUPABASE_URL
        value: https://vpriyflmlhmfuvyurexp.supabase.co